.header-background {
  background-color: black;
  color: white;
  height: 20px;
  padding: 20px;
}

.ui.borderless.topmenu.menu {
  height: 70px;
  margin-top: inherit;
  margin-bottom: inherit;
  color: #999999;
}

.ui.cards {
  height: 250px;
  margin: inherit;
  background-color: transparent;
}

h3 {
  color: white;
}

.footer-background {
  padding: 20px;
  background-color: black;
  color: #999;
  height: 300px;
  letter-spacing: 1px;
}

a {
  color: #999999
}
